<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--  <div class="field">-->
    <%#= form.label :code %>
    <%#= form.text_field :code %>
<!--  </div>-->

  <div class="field">
    <%= form.label :des_from %>
    <%= form.text_area :des_from %>
  </div>

  <div class="field">
    <%= form.label :des_to %>
    <%= form.text_area :des_to %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>
  <div class="field">
  <%= form.fields_for :items do |builder|%>
    <fieldset>
      <%=builder.label :name,"name" %>
      <%=builder.text_field :name %>
    </fieldset>
  <%end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
