<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--  <div class="field">-->
    <%#= form.label :code %>
    <%#= form.text_field :code %>
<!--  </div>-->

  <div class="field">
    <%= form.label :des_from %>
    <%= form.text_area :des_from %>
  </div>

  <div class="field">
    <%= form.label :des_to %>
    <%= form.text_area :des_to %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>
  <div class="field">
  <%= form.nested_fields_for  :items do |builder|%>

      <%= render 'item_fields', f: builder %>

  <%end %>
    <%#=link_to_add_fields "Add item", form,:items,"btn btn-primary", "Add a new Contact" %>
    <%=form.add_nested_fields_link :items, "Add another item", class: "btn btn-primary", role: "button" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<!--<script >-->
<!--    function add_fields(link, association, content) {-->
<!--        var new_id = new Date().getTime();-->
<!--        var regexp = new RegExp("new_" + association, "g");-->
<!--        $(link).parent().before(content.replace(regexp, new_id));-->
<!--    }-->
<!--</script>-->
