<p>
  <%=f.label :name,"name" %>
  <%=f.text_field :name %>
  <%=f.label :price,"price" %>
  <%=f.text_field :price %>
  <%=f.remove_nested_fields_link "Remove me", class: "btn btn-danger", role: "button" %>
</p>
<%#= link_to_remove_fields "remove", f %>
