<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @order.code %>
</p>

<p>
  <strong>Des from:</strong>
  <%= @order.des_from %>
</p>

<p>
  <strong>Des to:</strong>
  <%= @order.des_to %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
