<p id="notice"><%= notice %></p>

<h1>Buses <%=@count_buses %></h1>
<div>
  <h4>Import data</h4>
  <%= form_tag import_buses_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</div>
<table class="table-striped">
  <thead>
    <tr>
      <th>Link route</th>
      <th>Bus code</th>
      <th>Route</th>
      <th>Arrival 1</th>
      <th>Arrival 2</th>
      <th>Undertaking unit</th>
      <th>Phone</th>
      <th>Type of operation</th>
      <th>Distance</th>
      <th>Range of bus</th>
      <th>Uptime</th>
      <th>Fare</th>
      <th>Quantity trip</th>
      <th>Trip time</th>
      <th>Trip spacing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buses.each do |bus| %>
      <tr>
        <td><%= bus.link_route %></td>
        <td><%= bus.bus_code %></td>
        <td><%= bus.route %></td>
        <td><%= bus.arrival_1 %></td>
        <td><%= bus.arrival_2 %></td>
        <td><%= bus.undertaking_unit %></td>
        <td><%= bus.phone %></td>
        <td><%= bus.type_of_operation %></td>
        <td><%= bus.distance %></td>
        <td><%= bus.range_of_bus %></td>
        <td><%= bus.uptime %></td>
        <td><%= bus.fare %></td>
        <td><%= bus.quantity_trip %></td>
        <td><%= bus.trip_time %></td>
        <td><%= bus.trip_spacing %></td>
        <td><%= link_to 'Show', bus %></td>
        <td><%= link_to 'Edit', edit_bus_path(bus) %></td>
        <td><%= link_to 'Destroy', bus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @buses %>
<%= link_to 'New Bus', new_bus_path %>
